@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:wght@500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: "Playfair Display", serif;
}

p {
  font-family: "Lato", sans-serif;
}

body {
  background-color: #F2EDE4;
}

.container {
  width: 70%;
  margin: 0 auto;
}

header {
  width: 100%;
}

header .navbar {
  min-height: 15vh;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a {
  color: #525252;
  text-decoration: none !important;
  margin: 0 15px;
  padding-bottom: 5px;
}

a:hover {
  color: #000;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  border-bottom: 1px solid #1b1b1b;
}

.join {
  padding: 15px 20px;
  background-color: #4977EA;
  color: whitesmoke;
  border: none;
  border-radius: 6px;
}

.join:hover {
  background-color: #1b55e5;
}

.gradient {
  border: none;
  font-size: 14px !important;
  color: white;
  background: #eab251;
  background: linear-gradient(239deg, #eab251 0%, #ea5b71 91%);
  padding: 6px 10px;
  border-radius: 20px;
  margin: 0 20px;
}

h1 {
  color: black;
  font-size: 42px;
  margin: 0 0;
  font-weight: bold;
  width: 80%;
  line-height: 150%;
}

p {
  margin: 10px 0;
  width: 80%;
  font-weight: 400;
  text-align: justify;
  opacity: .9;
  font-size: 17px;
  line-height: 150%;
}

#hero {
  width: 100%;
}

#hero .row {
  padding: 0 !important;
  margin: 0 auto !important;
}

#hero .col {
  padding: 0 !important;
  min-height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.flex button {
  width: 30% !important;
  margin: 0px !important;
}

.flex input {
  width: 70% !important;
  margin: 0px 0 !important;
  padding: 2px 10px !important;
  font-size: 17px !important;
  border-radius: 6px !important;
  border: none !important;
  background-color: white !important;
}

.flex input::-webkit-input-placeholder {
  opacity: .9;
  color: #000;
}

.flex input:-ms-input-placeholder {
  opacity: .9;
  color: #000;
}

.flex input::-ms-input-placeholder {
  opacity: .9;
  color: #000;
}

.flex input::placeholder {
  opacity: .9;
  color: #000;
}

.flex input:focus {
  outline: none !important;
  border: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.sidenav li {
  text-align: center;
}

.sidenav li button {
  width: 80% !important;
  margin: 20px auto;
  padding: 15px 20px;
}

.img-container {
  width: 100%;
  min-height: 50vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blue-img {
  max-width: 400px;
  z-index: -1 !important;
  position: absolute;
  width: 80%;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.pink-img {
  max-width: 400px;
  z-index: -1 !important;
  position: absolute;
  width: 80%;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.img {
  max-width: 400px;
  z-index: -1 !important;
  position: absolute;
  width: 80%;
}

.purple-img {
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

.end {
  -webkit-box-align: end !important;
      -ms-flex-align: end !important;
          align-items: flex-end !important;
}

p img {
  margin-right: 10px;
}

footer .flex {
  width: 70%;
  min-height: 15vh;
  margin: 0 auto;
}

footer .flex a {
  margin-left: 0 !important;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-transform: translateX(-10%) !important;
          transform: translateX(-10%) !important;
}

footer .flex .help {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .flex .help div {
  margin: 0 10px;
}

footer .flex .help h5 {
  font-size: 16px;
  margin: 0 !important;
}

footer .flex .help span {
  font-weight: bold;
  color: black !important;
  opacity: 1 !important;
  font-family: "Lato", sans-serif;
}

@media screen and (max-width: 900px) and (min-width: 300px) {
  body {
    width: 100vw !important;
  }
  .row1 {
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row1 i {
    color: black;
    font-size: 32px !important;
  }
  #hero .col {
    min-height: auto;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .end {
    padding: 5vh auto !important;
    min-height: 70vh !important;
    max-width: 100%;
    overflow: hidden !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .container {
    width: 85% !important;
  }
  .img-container {
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .img-container img {
    margin: 10vh auto !important;
    max-height: 70vh !important;
  }
  footer .flex {
    min-height: auto !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  footer .flex > div {
    margin: 25px auto !important;
  }
}

@media screen and (max-width: 550px) {
  h1 {
    width: 100% !important;
    font-size: 32px !important;
  }
  p {
    width: 100% !important;
  }
  .img {
    max-width: 300px !important;
  }
  .flex {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .flex input {
    width: 90% !important;
    margin: 20px auto !important;
  }
  .flex button {
    width: 50% !important;
  }
  .img-container {
    -webkit-box-pack: center   !important;
        -ms-flex-pack: center   !important;
            justify-content: center   !important;
  }
  .img-container .img {
    max-width: 65vw !important;
  }
}
